@import "../../variables";

.wishlistBtn {
  border: none;
  outline: none;

  &:active, &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }

  i {
    transition: 0.4s all;
  }

  &:active i {
    transform: scale(1.5);
  }
}

.detailWishlist {
  min-width: 80px;
  border: 1px solid $sideBarBorderColor !important;
  border-radius: 0px;

  i {
    color: black;
  }
}
