@import "../../variables";
.cartCont {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
}

.leftCont {
  flex: 0.65;
  padding-right: 20px;
  border-right: 1px solid $cartBorderColors;
  padding-top: 32px;
  @media screen and (max-width: 767px) {
    min-width: 100%;
    border-right: none;
    padding-right: 0px;
  }
}

.rightCont {
  flex: 0.35;
  vertical-align: top;
  padding: 32px 0 0 16px;
  @media screen and (max-width: 767px) {
    flex: 1;
    padding: 32px 0px;
  }
}

.cartHeader {
  padding: 8px 12px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bagTitle, .bagTotal {
  font-size: 1.1rem;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .bagTotal {
    text-align: right;
  }
}

// Item Styles
.itemContainer {
  margin-bottom: 8px;
  font-size: 14px;
  border: 1px solid $cartBorderColors;
  border-radius: 8px;
  position: relative;
  padding: 12px 12px 0;
}

.upperTile {
  display: flex;
}

.productImg img {
  height: 130px;
  width: 98px;
  object-fit: contain;
}

.flex {
  padding-left: 12px;
  flex: 1;
}

.detailCont {
  text-transform: capitalize;
  display: flex;
}

.nameCont {
  flex: 1;
}

.brandText, .priceText  {
  font-weight: 600;
}

.nameText > a {
  color: #565e70;
  font-weight: 400;
}

.lowerTile {
  border-top: 1px solid $cartBorderColors;
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.removeBtn {
  outline: none;
  border: none;
  background: white;
  color: #696b79;
  padding: 10px;
}

.priceHeader {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 10px 0 16px;
  color: $secondaryTextColor;
}

.priceInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 0.9rem;
  color: $secondaryTextColor;
}

.totalPriceInfo {
  font-weight: 600;
  font-size: 0.9rem;
  padding-top: 16px;
  border-top: 1px solid $cartBorderColors;
  display: flex;
  justify-content: space-between;
}

.orderBtn {
  background: $primaryBgColor;
  color: $sidebarTextColor;
  width: 100%;
  border-color: $cartBorderColors;
}

.qtyBtn {
  outline: none;
  border: none;
  display: flex;
  margin: 10px 0px 0px;
}

.qtyBtn > span {
  margin-top: 2px;
  margin-left: 4px;
}

.qtyBtn:focus {
  outline: none;
}

.suggestedCont {
  margin-top: 5rem;
  border-top: 1px solid $cartBorderColors;
  padding-top: 20px;
}

//Empty Cart
.noDataCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: calc(4vh);
}

.noDataText {
  font-size: 2rem;
  font-weight: 200;
}

.codeText {
  font-size: 12rem;
  line-height: 13rem;
}

.subText {
  font-size: 0.8rem;
  color: $secondaryAccentColor
}

.wishlistLoginIcon {
  img {
    width: 300px;
    margin-left: 20px;
  }
}

.wishListBtn {
  border: 1px solid $cartBorderColors;
  padding: 5px 30px;
  margin-top: 20px;
  color: $primaryAccentColor;
}
