.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerContainer .title {
    font-size: 16px;
}

.headerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.infoTitle{
    margin-bottom: 15px;
    padding-bottom: 5px;
    margin-left: 15px;
    border-bottom: 1px solid;
    width: 100%;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.heading{
    margin-right: 5px;
}
