/*
common
*/
@import "variables";

body:after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  pointer-events: none;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 750ms;
}

body.navExpanded:after {
  opacity: 1;
}

.facebook-btn {
  width: 100%;
  letter-spacing: normal;
  background-color: #4267b2 !important;
}

.facebook-btn span {
  margin-right: 0.5rem;
}

.anchor-silent {
  text-decoration: none !important;
  outline: 0;
}

.color-variant li.active {
  border: 1px solid #000;
  box-shadow: 0px 0px 0px 1px;
}

.sizes-variant li.active {
  border: 1px solid #000;
  box-shadow: 0px 0px 0px 1px;
}

.sizes-variant li {
  background: #fff;
  display: inline-block;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border: 1px solid #ccc;
  line-height: 1.6em;
  text-align: center;
  border-radius: 100%;
  margin-right: 5px;
  margin-bottom: 5px;
  transition: all 0.1s ease;
  vertical-align: middle;
}

.cart-table td:not(:nth-child(1)),
.product-details-content table th:not(:nth-child(1)) {
  text-align: center;
}

.wishlistLogin {
  max-width: 25rem;
  margin: 6rem auto 0rem;
  text-align: center;
}

.wishlistLogin-heading {
  font-size: 1.25rem;
  font-weight: 600;
  color: #282c3f;
}

.wishlistLogin-info {
  font-size: 1.15rem;
  color: #94989f;
  margin: 1.25rem auto 0;
}

.wishlistLogin-icon {
  i {
    font-size: 9.5rem;
  }
  margin: 2.8rem 0 3.1rem;
}

.contentArea {
  padding: calc(2px + 2.4em) 0 20px 240px;
}

.product-card {
  width: $productCardWidth;
}

.product-card .card-body {
  padding: 6px 2px;
  border-top: 1px solid rgba(128, 128, 128, 0.38);
  color: $primaryTextColor;
  text-transform: capitalize;
}

.product-card .product-price {
  color: $secondaryTextColor
}

.product-image-container {
  width: $productCardWidth;
  height: $productCardHeight;
  position: relative;
}


.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-cont {
  width: $productCardWidth;
  height: $productCardHeight;
}

.image-slider {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-dots {
  bottom: -12px;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots, .slick-next, .slick-prev {
  position: absolute;
  display: block;
  padding: 0;
}

.slick-dots li {
  margin: 0px;
}

.sidebar-logo {
  width: 200px;
  height: 300px;
}

.suggestionText {

}

//breadcrumb
.breadcrumb {
  background: transparent;
  margin: 0px;
  margin-bottom: 1rem;
}

.breadcrumb > li.active {
  color: $primaryAccentColor;
}

.breadcrumb > li > a {
  color: $secondaryAccentColor;
}
