/*
common
*/
@import "variables";

body:after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  pointer-events: none;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 750ms;
}

body.navExpanded:after {
  opacity: 1;
  pointer-events: auto;
}

.facebook-btn {
  width: 100%;
  letter-spacing: normal;
  background-color: #4267b2 !important;
}

.facebook-btn span {
  margin-right: 0.5rem;
}

.anchor-silent {
  text-decoration: none !important;
  outline: 0;
}

.color-variant li.active {
  border: 1px solid #000;
  box-shadow: 0px 0px 0px 1px;
}

.sizes-variant li.active {
  border: 1px solid #000;
  box-shadow: 0px 0px 0px 1px;
}

.sizes-variant li {
  background: #fff;
  display: inline-block;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border: 1px solid #ccc;
  line-height: 1.6em;
  text-align: center;
  border-radius: 100%;
  margin-right: 5px;
  margin-bottom: 5px;
  transition: all 0.1s ease;
  vertical-align: middle;
}

.cart-table td:not(:nth-child(1)),
.product-details-content table th:not(:nth-child(1)) {
  text-align: center;
}

.wishlistLogin {
  max-width: 25rem;
  margin: 6rem auto 0rem;
  text-align: center;
}

.wishlistLogin-heading {
  font-size: 1.25rem;
  font-weight: 600;
  color: #282c3f;
}

.wishlistLogin-info {
  font-size: 1.15rem;
  color: #94989f;
  margin: 1.25rem auto 0;
}

.wishlistLogin-icon {
  i {
    font-size: 9.5rem;
  }
  margin: 2.8rem 0 3.1rem;
}

.contentArea {
  padding: calc(2px + 2.4em) 0 20px 240px;
  @media screen and(max-width: 767px) {
    padding: 0px;
  }
}


.product-card {
  width: var(--productWidth);
  @media screen and(max-width: 767px) {
    margin-top: 0px !important;
    margin-bottom: 2rem !important;
  }
}

.product-card .card-body {
  padding: 6px 2px;
  border-top: 1px solid rgba(128, 128, 128, 0.38);
  color: $primaryTextColor;
  text-transform: capitalize;
}

.product-card .product-price {
  color: $secondaryTextColor;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    outline: none;
    border: none;
    background: transparent;
    padding: 2px 10px;
  }

  .fa.fa-heart {
    color: red;
  }
  .far.fa-heart {
    color: black;
  }
}

.product-image-container {
  width: var(--productWidth);
  height: var(--productHeight);
  position: relative;
}


.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-cont {
  width: var(--productWidth);
  height: var(--productHeight);
}

.image-slider {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-dots {
  bottom: -12px;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots, .slick-next, .slick-prev {
  position: absolute;
  display: block;
  padding: 0;
}

.slick-dots li {
  margin: 0px;
}

.sidebar-logo {
  width: 200px;
  height: 300px;
}

//breadcrumb
.breadcrumb {
  background: transparent;
  margin: 0px;
  margin-bottom: 1rem;
  @media screen and (max-width: 767px) {
    margin-bottom: 0px;
  }
}

.breadcrumb > li.active {
  color: $primaryAccentColor;
}

.breadcrumb > li {
  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
}

.breadcrumb > li > a {
  color: $secondaryAccentColor;
}

.product-detail-action {
  display: flex;
}

.wishlist-icon .fa.fa-heart{
  color: red;
}

.add-to-cart-btn {
  background: $primaryBgColor;
  border: 1px solid $sideBarBorderColor;
  border-radius: 0px !important;
  color: black;
  &:hover, &:active, &:focus {
    outline: none;
    box-shadow: none;
  }
}

.cart-btns {
  display: flex;
  align-items: center;
  i {
    background: $primaryBgColor;
    border: 1px solid $sideBarBorderColor;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem 1.5rem;
    height: 100%;
    cursor: pointer;
    &:hover {
      background: $secondaryBtnColor;
      color: white;
    }
  }
}

.btn-load-more {
  background: $primaryBgColor;
  border: 1px solid $sideBarBorderColor;
  color: black;
  margin: 0rem 1.5rem;
  height: 100%;
  padding: 8px 30px;
  cursor: pointer;
  &:hover, &:active, &:focus {
    background: $secondaryBtnColor !important;
    color: white;
  }
  &:disabled {
    background: $secondaryBtnColor;
    color: white;
    border: 1px solid $sideBarBorderColor;
  }
}
